.form-wrap {
    padding: 0 17px;
    margin-bottom: 80px;
    .form-container{
        > * {
            width: 100%;
            max-width: 580px;
            margin: auto;
        }
        .title {
            color: var(--blue);
            font-size: 22px;
            margin-bottom: var(--gap-4);
        }
        .placeholder{
            font-size: 16px;
            color: rgba(0,0,0,0.65);
            margin-bottom: 40px;
        }
        .form-item {
            width: inherit;
            margin-bottom: var(--gap-4);
            * {
                width: inherit;
            }
            p {
                text-align: left;
                margin-bottom: var(--gap-1);
            }
            select,input {
                font-size: 16px;
                // line-height: 40px;
                color: rgba(0, 0, 0, 0.65);
                padding: 4px 0;
                border-radius: 4px;
                border: 1px solid #C6C6C6;
                box-sizing: border-box;
                height: 40px;
                text-indent: 8px;
            }
            input[type="button"]{
                color: #D1D1D1;
                background: var(--blue);
            }
            input[type="button"]:disabled{
                background: rgba(239, 239, 239, 0.3);
            }
            .error-msg {
                color: red;
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .form-wrap {
        padding: 0 93px;
        margin-bottom: 144px;
        .form-container {
            background: var(--white);
            border: 1px solid #DBDBDB;
            box-sizing: border-box;
            box-shadow: 0px 4px 14px rgba(132, 132, 132, 0.5);
            border-radius: 20px;
            padding: 80px 0;
        }
    }   
}